<h1>Log in with Email</h1>
<form action="/loginEmail" method="post">
  <div class="loginEmail">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /><br />
    <button type="submit">Log in</button>
  </div>
</form>
<a href="/loginusername">Login with uesrname</a>
<a href="/signup">Don't have an account? Sign up</a>
