<h1>Log in with username</h1>
<form action="/loginUsername" method="post">
  <div class="loginUsername">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /><br />
    <button type="submit">Log in</button>
  </div>
</form>
<a href="/loginEmail">Log in with email</a>
<a href="/signup">Don't have an account? Sign up</a>
